<div class="file-list-row"
     (click)="handleClick(file, $event)"
     (dblclick)="handleDblClick(file)">
  <span>
  <i *ngIf="file.type === 'FILE'" class="fa-regular fa-file fa-xl"></i>
  <i *ngIf="file.type === 'FOLDER'" class="fa-regular fa-folder fa-xl"></i>
  </span>
  <span>{{ file.name }}</span>
  <span>{{ file.type !== 'FOLDER' ? (file.modifiedData | date: 'dd MMMM yyyy') : '' }}</span>
  <span>{{ file.size !== 0 ? file.size : '-' }}</span>
  <button class="file-actions" (click)="toggleFileActions($event)">
    <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
  </button>

  <div class="file-actions-menu" *ngIf="isFileActionsOpen" (clickOutside)="closeFileActions()">
    <div class="menu-item" (click)="download()"><i class="fa-solid fa-download"></i>Download</div>
    <div class="menu-separator"></div>
    <div class="menu-item" (click)="move()"><i class="fa-solid fa-route"></i>Move</div>
    <div class="menu-item" (click)="rename()"><i class="fa-regular fa-pen-to-square"></i>Rename</div>
    <div class="menu-separator"></div>
    <div class="menu-item delete" (click)="delete()"><i class="fa-solid fa-trash"></i>Delete</div>
  </div>
</div>


<app-modal *ngIf="isRenameResourceOpen" (close)="closeModal()" title="Rename">
  <input #folderInput type="text"
         [ngModel]="file.type == 'FOLDER' ? file.name :file.name.substring(0, file.name.lastIndexOf('.'))"
         class="modal-input">
  <div class="modal-button">
    <button class="cancel-button" (click)="closeModal()">Cancel</button>
    <button (click)="handleRenameResource(folderInput.value)">Rename</button>
  </div>
</app-modal>

<app-modal *ngIf="isMoveResourceOpen" (close)="closeModal()" title="Move {{this.file.name}}">
  <div class="current-location">
    <span>Current location: {{ this.file.path | parentPath }}</span>
  </div>
  <div class="folder-list">
    <ul>
      <li *ngFor="let folder of availableFolders" (click)="selectFolder(folder)"
          [class.selected]="folder.path === selectedFolderPath">
        <i class="fa-regular fa-folder fa-lg"></i>
        <span>{{ folder.path }}</span>
      </li>
    </ul>
  </div>

  <div class="modal-button">
    <button class="cancel-button" (click)="closeModal()">Cancel</button>
    <button class="move-button" (click)="confirmMove()" [disabled]="!selectedFolderPath">Move</button>
  </div>
</app-modal>
