.file-list-row {
  position: relative;
  box-sizing: border-box;
  min-width: 75vw;
  width: 100%;
  display: grid;
  grid-template-columns: 0% 45% 25% 20% 10%;
  padding: 12px;
  border-bottom: 1px solid #eee;
  align-items: center;
  text-align: center;
  transition: background 0.3s;
}

.file-list-row:hover {
  background-color: #e3e3e3;
  border-radius: 8px;
}

.file-list-row span {
  min-width: 0;
  padding: 5px 10px;
}

.file-actions {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}

.file-actions:hover {
  transform: scale(1.2);
}


.file-actions-menu {
  position: absolute;
  top: 100%;
  right: 30px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 150px;
  z-index: 1001;
  padding: 8px 1px;
}


.menu-item {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s;
  justify-content: flex-start;
  gap: 5px;
}

.menu-item:hover {
  background: #f0f0f0;
}


.menu-separator {
  height: 1px;
  background: #e0e0e0;
  margin: 4px 0;
}


.menu-item.delete {
  color: #e53935;
}
