.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content{
  margin-top: 80px;
}


