<div class="container">
  <header>
    <div class="left-section" (click)="goToHome()">
      <img ngSrc="assets/images/filo-icon.ico" alt="Filo Icon" height="50" width="50" priority>
      <h2>Filo</h2>
    </div>
    <div class="header-actions">

      <div class="middle-section">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (keyup.enter)="search()"
          [placeholder]="'NAV.SEARCH_PLACEHOLDER' | translate"
          class="search-bar">
      </div>

      <div class="right-section" *ngIf="user$ | async as user">
        <div class="language-switcher">
          <button
            [class.active]="languageService.getCurrentLanguage() === 'en'"
            (click)="switchLanguage('en')"
            class="lang-btn">EN</button>
          <button
            [class.active]="languageService.getCurrentLanguage() === 'ru'"
            (click)="switchLanguage('ru')"
            class="lang-btn">RU</button>
        </div>
        <strong>{{ user.username }}</strong>
        <button class="logout-button" (click)="logout()">{{ 'AUTH.LOGOUT' | translate }}</button>
      </div>
    </div>
  </header>

  <aside class="sidebar">
    <button class="new-button" (click)="toggleNewMenu()">
      <i class="fa-solid fa-plus fa-xl"></i>
      <span class="new-text"> {{ 'NAV.NEW' | translate }}</span>
    </button>


    <div class="new-menu-wrapper">
      <div class="new-menu" *ngIf="isNewMenuOpen" (clickOutside)="closeMenu()">
        <button (click)="clickCreateFolder()"><i class="fa-regular fa-folder fa-lg" style="color: #74C0FC;"></i> {{ 'NAV.NEW_FOLDER' | translate }}
        </button>
        <div class="line"></div>
        <button (click)="clickUploadFile()"><i class="fa-regular fa-file fa-lg" style="color: #63E6BE;"></i> {{ 'NAV.FILE_UPLOAD' | translate }}
        </button>
        <button (click)="clickUploadFolder()"><i class="fa-regular fa-folder fa-lg" style="color: #63E6BE;"></i> {{ 'NAV.FOLDER_UPLOAD' | translate }}
        </button>
      </div>
      <input #fileInput type="file" hidden multiple (change)="onFilesSelected($event)">
      <input #folderInput type="file" hidden multiple webkitdirectory (change)="handleFolderUpload($event)">
    </div>


    <div class="storage-info" *ngIf="quota$ | async as quota">
      <div class="progress-bar">
        <div class="progress"
             [style.width]="(quota.usedBytes / quota.quotaBytes) * 100 + '%'">
        </div>
      </div>
      <p>{{ (quota.usedBytes | filesize) }} {{ 'STORAGE.USED' | translate }} {{ (quota.quotaBytes | filesize) }} {{ 'STORAGE.USED_LABEL' | translate }}</p>
    </div>
  </aside>

  <main class="content-wrapper">
    <router-outlet></router-outlet>
  </main>
</div>


<app-modal *ngIf="isCreateFolderOpen" (close)="closeModal()" [title]="'MODAL.NEW_FOLDER' | translate">
  <input #folderInput type="text" [placeholder]="'MODAL.FOLDER_NAME' | translate" class="modal-input">
  <div class="modal-button">
    <button class="cancel-button" (click)="closeModal()">{{ 'MODAL.CANCEL' | translate }}</button>
    <button (click)="handleCreateFolder(folderInput.value)">{{ 'MODAL.CREATE' | translate }}</button>
  </div>
</app-modal>
