<div class="container">
  <h1 class="title">My Files</h1>

  <ng-container *ngIf="files && files.length > 0; else noFiles">
    <div class="file-list">
      <div class="file-list-header">
        <span class="col-name">Name</span>
        <span class="col-modified">Last Modified</span>
        <span class="col-size">Size</span>
        <span class="col-actions"></span>
      </div>

      <app-file-item *ngFor="let file of files" [file]="file"></app-file-item>
    </div>
  </ng-container>

  <ng-template #noFiles>
    <div class="no-files-message">
      <p>This space is feeling a bit lonely 😢</p>
      <p>Give it some company by uploading your files!</p>
    </div>
  </ng-template>

</div>
