<div class="container">
  <h1 class="title">{{ 'FILES.MY_FILES' | translate }}</h1>

  <ng-container *ngIf="files && files.length > 0; else noFiles">
    <div class="file-list">
      <div class="file-list-header">
        <span class="col-name">{{ 'FILES.NAME' | translate }}</span>
        <span class="col-modified">{{ 'FILES.LAST_MODIFIED' | translate }}</span>
        <span class="col-size">{{ 'FILES.SIZE' | translate }}</span>
        <span class="col-actions"></span>
      </div>

      <app-file-item *ngFor="let file of files" [file]="file"></app-file-item>
    </div>
  </ng-container>

  <ng-template #noFiles>
    <div class="no-files-message">
      <p>{{ 'FILES.NO_FILES_TITLE' | translate }}</p>
      <p>{{ 'FILES.NO_FILES_SUBTITLE' | translate }}</p>
    </div>
  </ng-template>

</div>
